.accordion {
  padding-top: 50px;
  max-width: 730px;

}
.item {
  padding: 10px 20px;
}

.title {
  color: $accent;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;

  &::before {
    display: inline-block;
    content: url("/public/img/Polygon.svg");

    margin-right: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate(0, -5px);
  }

  &.iconOpen::before {
    transform:translate(0, 7px) rotate(150deg);

  }
}

.content {
  color: $gray;
  font-family: $second-font;
  padding-top: 20px;

  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;

}

.content.show {
  max-height: 400px;
}